<app-header></app-header>
<div class="one">
    <div class="one-text">
        <h1>
            Convert your brilliant ideas in print with a SaiDivine-Print
        </h1>
        <p style="font-size: 20px;font-weight: 400;">   
            With SaiDivine Print, an online print maker, you can easily transform your soft copy PDFs, words, magazine into
            stunning and quality magazine, catalogue, brochure, custom branding, and more with zero profit policy.
        </p>
        <button type="button" class="btn btn-primary"><a href="tel:+919886656819" style="color: #fff">Order Now</a></button>
    </div>
    <div class="one-image">
        <img src="../assets/images/one.jpg" alt="One image" height="379">
    </div>
</div>
<div class="two">
    <section class="two-text">
        <div class="bottom">
            <h2 style="color: black">For Desgining & Printing, Contact Below</h2>
            <h2>D Chandrasekhar</h2>
            <h3>House No. 2816, 18th A Main, 5th B Cross,</h3>
            <h3>HAL 2nd Stage, Indiranagar, Bangalore-560066</h3>
            <h3>Mobile No. +91 9886656819</h3>
            <h4>Copyright © SaiDivine Union Publishing Company</h4>
        </div>
    </section>
</div>