.symptoms {
    margin-top: 2rem;
    border-radius: 0px;
}

.prevention {
    margin-top: 2rem;
    border-radius: 0px;
}

.prevention-row {
    margin: 0px !important;
    display: flex;
    justify-content: space-between;
}

.prevention-row .card {
    margin: 5px 5px 5px 0px;
    width: 48% !important;
}

.info {
    background: #d3d3d3;
    padding: 10px 10px 10px 20px;
    border-left: 10px solid #8b008b;
    color: #8b008b;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 1.5rem !important;
}