<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid px-0">
        <div class="logo-sec">
            <div class="light"><img src="../../assets/images/lights.png" alt="light image" height="25" width="220"></div>
            <div class="com-text">
                <div class="sai"><img src="../../assets/images/sai-logo.jpg" alt="Company Logo" height="20"></div>
                <div class="logo-text">SaiDivine Print</div>
            </div>
        </div>

      <div class="row w-100 menu">
        <div class="col-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
  
        <div class="col-10">
          <div class="collapse justify-content-end navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Book Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>