<div class="map-stats row">
    <div class="stats col-lg-3 col-md-6 col-sm-12">
      <h5>Confirmed</h5>
      <div class="stats-bottom">
        <h1>{{worldStat?.total_cases}}</h1>
        <h6></h6>
      </div>
    </div>
    <div class="stats is-blue col-lg-3 col-md-6 col-sm-12">
      <h5>New Cases</h5>
      <div class="stats-bottom">
        <h1>{{worldStat?.new_cases}}</h1>
        <h6></h6>
      </div>
    </div>
    <div class="stats is-green col-lg-3 col-md-6 col-sm-12">
      <h5>Recovered</h5>
      <div class="stats-bottom">
        <h1>{{worldStat?.total_recovered}}</h1>
        <h6></h6>
      </div>
    </div>
    <div class="stats is-gray col-lg-3 col-md-6 col-sm-12">
      <h5>Deceased</h5>
      <div class="stats-bottom">
        <h1>{{worldStat?.total_deaths}}</h1>
        <h6></h6>
      </div>
    </div>
  </div>
  