#world-map-container {
    height: 550px; 
    min-width: 310px; 
    max-width: 1100px; 
    margin: 0 auto;
    margin-bottom: 1rem;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


.custom-switch {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}


@media screen and (max-width: 767px) {
    #world-map-container {
        height: 375px;
    }
}